<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <h2>Submitted Employee Information</h2>
    <table>
        <tr>
            <td>Name :</td>
            <td>${adminname}</td>
        </tr>
        <tr>
            <td>ID :</td>
            <td>${admin_password}</td>
        </tr>
        <tr>
            <td>Contact Number :</td>
            <td>${admin_password_confirm}</td>
        </tr>
    </table>
    
    <a href="addBookPage">Add Book(s) To DB</a>
    <a href="#">View All Users</a>
    <a href="#">View All Books</a>
    <a href="#">Adjust Stock Leveks</a>
</body>
</html>